<h1>{{model.name}}</h1>
<p>{{model.description}}</p>
{{ icon-image model.imageUrl }}
{{link-to 'Edit this food' 'foods.food.edit' model.id}}
 <button{{action 'destroyItem' model}}>Delete Item</button>
