<h1>Menu Tracker</h1>
<p id='explanation'>Our restaurant is {{restaurant.name}}</p>
<p>Menu tracker helps you see what dishes are available today.</p>
<p>{{menuLength}} foods total!</p>
<p>{{availableItems.length}} foods available!</p>
<ul>
  {{#each model as |food|}}
  {{#if food.isAvailable}}
    <li>
    {{food.name}}
     <button{{action 'makeUnavailable' food}}>Make Unavailable</button>
  </li>
  {{else}}
    <li class='not-available'><s>
    {{food.name}}
    <button{{action 'makeAvailable' food}}>Make Available</button>
    <button{{action 'destroyItem' food}}>Delete Item</button>
  </s></li>

  {{/if}}
  {{/each}}
</ul>
<hr>
{{input value=newItem}}
<button {{action 'saveNewItem'}}>Save</button>